@import '~antd/lib/style/themes/default.less';
@import '../../utils/utils.less';

.deleteBtn {
  border: 1px solid transparent;
  border-color: #d9d9d9;
  padding: 5px 15px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.65);
  margin-left: 0;
}
.title {
  color: @heading-color;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}
